<div class="container p-5">
  <h1>イベント一覧</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>イベントID</th>
                <th>担当社員</th>
                <th>日程</th>
                <th>現場名</th>
                <th>会場名</th>
                <th></th>
            </tr>
        </thead>
        <% @events.each do |event| %>
        <% dw = ["日", "月", "火", "水", "木", "金", "土"] %>
        <tbody>
            <tr>
                <td><%= event.id %></td>
                <td>
                    <% if event.worker.present? %>
                        <%= event.worker.full_name %>
                      <% else %>
                        担当社員未定
                    <% end %>
                </td>
                <td><%= event.date.strftime("%Y/%m/%d(#{dw[event.date.wday]}) %H:%M") %></td>
                <td><%= event.name %></td>
                <td><%= event.venue.name %></td>
                <td><%= link_to "詳細", admin_event_path(event.id) %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
    <%= link_to "社員トップ", worker_top_path, class: "btn btn-primary" %>
</div>