<div class="container p-5">
  <h2>イベント一覧</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>日程</th>
                <th>イベント名</th>
                <th>会場名</th>
                <th></th>
            </tr>
        </thead>
        <% @events.each do |event| %>
        <% dw = ["日", "月", "火", "水", "木", "金", "土"] %>
        <tbody>
            <tr>
                <td><%= event.date.strftime("%Y/%m/%d(#{dw[event.date.wday]}) %H:%M") %></td>
                <td><%= event.name %></td>
                <td><%= event.venue.name %></td>
                <td><%= link_to "詳細", event_path(event.id) %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
    <h2><%= link_to "トップページに戻る", root_path %></h2>
</div>