<div class="container p-5">
    <h1>社員一覧</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>社員ID</th>
                <th>性</th>
                <th>名</th>
                <th>ステータス</th>
                <th>メールアドレス</th>
            </tr>
        </thead>
        <% @workers.each do |worker| %>
        <tbody>
            <tr>
                <td><%= worker.id %></td>
                <td><%= worker.last_name %></td>
                <td><%= worker.first_name %></td>
                <td><% if worker.is_deleted == true %>
							<h5>
								<span class="badge badge-secondary">
									退職
								</span>
							</h5>
							<% else %>
							<h5>
								<span class="badge badge-primary">
									在籍
								</span>
							</h5>
						<% end %></td>
                <td><%= worker.email %></td>
                <td><%= link_to "詳細", admin_worker_path(worker.id) %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
    <%= link_to "社員新規登録", new_admin_worker_path, class: "btn btn-success" %>
    <%= link_to "管理者トップ", admin_top_path, class: "btn btn-primary" %>
</div>