<div class="container p-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>社員ID</th>
                <th>性</th>
                <th>名</th>
                <th>ステータス</th>
                <th></th>
            </tr>
        </thead>
        <% @workers.each do |worker| %>
        <tbody>
            <tr>
                <td><%= worker.id %></td>
                <td><%= worker.last_name %></td>
                <td><%= worker.first_name %></td>
                <td><%= worker.is_deleted %></td>
                <td><%= link_to "詳細", admin_worker_path(worker.id) %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
</div>