<div class="container p-5">
  <h1>イベント編集画面</h1>
  イベントID<%= @event.id %>
  <%= form_with model:@event, url:"/admin/events/#{@event.id}", local:true do |f| %>
   <table class="table table-bordered">
  			<tbody>
  			  <tr>
  			    <td><%= f.label :date, "日程" %></td>
  			    <td><%= f.datetime_field :date %></td>
  			  </tr>
  			  <tr>
  					<td><%= f.label :name, "現場名" %></td>
  					<td><%= f.text_field :name %></td>
  				</tr>
  				<tr>
  					<td><%= f.label :venue, "会場名" %></td>
  					<td><%= f.collection_select :venue_id, Venue.all, :id, :name %></td>
  				</tr>

  			</tbody>
  		</table>
  		<div class="flex align-center pl5">
        <%= f.submit "更新", class: "btn btn-primary" %>
      </div>
    <% end %>
  <%= link_to "戻る", admin_event_path(@event.id), class: "btn btn-success" %>
</div>