<div class="container p-5">
  <h2>イベント一覧</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>イベントID</th>
                <!--<th>担当社員</th>-->
                <th>日程</th>
                <th>現場名</th>
                <th>会場名</th>
                <th></th>
            </tr>
        </thead>
        <% @events.each do |event| %>
        <tbody>
            <tr>
                <td><%= event.id %></td>
                <td><%= event.date %></td>
                <td><%= event.name %></td>
                <td><%= event.venue.name %></td>
                <td><%= link_to "詳細", admin_event_path(event.id) %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
    <h2><%= link_to "新規イベント作成", admin_events_new_path %></h2>
    <h2><%= link_to "管理者トップ", admin_top_path %></h2>
</div>