<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>


<h2><%= link_to "社員一覧", admin_workers_path %></h2>
<h2><%= link_to "会場一覧", admin_venues_index_path %></h2>
<h2><%= link_to "備品一覧", admin_items_path %></h2>
<h2><%= link_to "会員一覧", admin_customers_path %></h2>
<h2><%= link_to "在庫確認", admin_item_stocks_path %></h2>
<h2><%= link_to "イベント一覧", admin_events_path %></h2>
<h2><%= link_to "申請一覧", admin_requests_path %></h2>
