<h1>会場一覧</h1>
<% @venues.each do |venue| %>
<h3>会場詳細</h3>
<span><%= venue.name %></span>
<span><%= venue.station %></span>
<span><%= venue.introduction %></span>
<span><%= venue.status %></span>
<span><%= venue.is_active %></span>
<%= link_to "詳細", admin_venues_path(venue.id) %>
<% end %>