<div class="container p-5">
  <h1>会場詳細</h1>
  <table class="table table-striped">
		  <tr>
		  	<th>会場ID</th>
		  	<td><%= @venue.id %></td>
		  </tr>
		  <tr>
		  	<th>会場名</th>
		  	<td><%= @venue.name %></td>
		  </tr>
		  <tr>
		  	<th>県名</th>
		  	<td><%= @venue.prefecture.name %></td>
		  </tr>
		  <tr>
		  	<th>最寄駅</th>
		  	<td><%= @venue.station %></td>
		  </tr>
		  <tr>
		  	<th>会場説明</th>
		  	<td><%= @venue.introduction %></td>
		  </tr>
		  <tr>
		  	<th>ステータス</th>
		  	<td><%= @venue.status %></td>
		  </tr>
 </table>
				<%= link_to "編集", edit_admin_venue_path(@venue.id) , class: "btn btn-success" %>
				<%= link_to "削除", admin_venue_path(@venue.id), method: :delete, "data-confirm" => "削除してもよろしいですか？", class: "btn btn-danger" %>
	<%= link_to "会場一覧に戻る", admin_venues_path %>
	</div>