<div class="container p-5">
    <h1>会場一覧</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>会場名</th>
                <th>県名</th>
                <th>最寄駅</th>
                <th>コメント解析の平均点</th>
            </tr>
        </thead>
        <% @venues.each do |venue| %>
        <tbody>
            <tr>
                <td>
                <%= link_to venue_path(venue.id) do %>
                    <%= venue.name %>
                <% end %>
                </td>
                <td><%= venue.prefecture.name %></td>
                <td><%= venue.station %></td>
                <td><%= venue.venue_comments.average(:score)&.round(2) %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
    <%= link_to "トップページに戻る", root_path, class: "btn btn-success" %>
</div>