<div class="container p-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>会場名</th>
                <th>県名</th>
                <th>最寄駅</th>
            </tr>
        </thead>
        <% @venues.each do |venue| %>
        <tbody>
            <tr>
                <td>
                <%= link_to venue_path(venue.id) do %>
                <%= venue.name %>
                <% end %>
                </td>
                <td><%= venue.prefecture.name %></td>
                <td><%= venue.station %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
    <h2><%= link_to "トップページに戻る", root_path %></h2>
</div>