<h1>Admin::ItemStocks#index</h1>
<p>Find me in app/views/admin/item_stocks/index.html.erb</p>



<div class="container p-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>備品ID</th>
                <th>備品名</th>
                <th>在庫数</th>
                <th>ステータス</th>
                <th></th>
            </tr>
        </thead>
        <% @item_stocks.each do |item_stock| %>
        <tbody>
            <tr>
                <td><%= item_stock.item.id %></td>
                <td><%= item_stock.item.name %></td>
                <td><%= item_stock.stock %></td>
                <td><%= item_stock.status %></td>
                <td><%= link_to "詳細", admin_item_stock_path(item_stock.id) %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
    <h2><%= link_to "在庫新規登録", new_admin_item_stock_path %></h2>
    <h2><%= link_to "管理者トップ", admin_top_path %></h2>
</div>

<!-- <span><%#= item_stock.is_active %></span> -->