<h1>申請一覧</h1>
<p>Find me in app/views/worker/requests/index.html.erb</p>




<div class="container p-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>申請ID</th>
                <th>日程</th>
                <th>現場名</th>
                <th>会場名</th>
                <th>申請日時</th>
                <th>申請ステータス</th>
                <th></th>
            </tr>
        </thead>
        <% @requests.each do |request| %>
        <tbody>
            <tr>
                <td><%= request.id %></td>
                <td><%= request.event.date.strftime("%Y/%m/%d(#{dw[event.date.wday]}) %H:%M")  %></td>
                <td><%= request.event.name %></td>
                <td><%= request.venue.name %></td>
                <td><%= request.create_at %></td>
                <td><%= request.status %></td>
                <td><%= link_to "詳細", worker_request_path(request.id) %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
    <h2><%= link_to "新規申請", new_worker_request_path %></h2>
    <h2><%= link_to "社員トップ", worker_top_path %></h2>
</div>