<div class="container p-5">
  <h1>申請画面</h1>
  <%= form_with model: @request, url:'/worker/requests', local:true do |f| %>
  <table class="table table-bordered">
			<tbody>
				<tr>
					<td><%= f.label :event, "現場選択" %></td>
					<td><%= f.collection_select :event_id, Event.all, :id, :name, prompt: "選択してください" %></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="flex align-center pl5">
			<%= f.submit "作成", class: "btn btn-primary" %>
		</div>
	<% end %>
	<h2><%= link_to "在庫一覧", worker_requests_path %></h2>
</div>
