<div class="container p-5">
  <h1>申請詳細</h1>
	<table class="table table-bordered border-danger">
	    <% dw = ["日", "月", "火", "水", "木", "金", "土"] %>
            <tr>
                <th>ステータス</th>
                <td><%= @request.status %></td>
            </tr>
            <tr>
                <th>申請ID</th>
                <td><%= @request.id %></td>
            </tr>
            <tr>
                <th>日程</th>
                <td><%= @request.event.date.strftime("%Y/%m/%d(#{dw[@request.event.date.wday]}) %H:%M") %></td>
            </tr>
            <tr>
                <th>現場名</th>
                <td><%= @request.event.name %></td>
            </tr>
            <tr>
                <th>会場名</th>
                <td><%= @request.event.venue.name %></td>
            </tr>
            <tr>
                <th>申請日時</th>
                <td><%= @request.created_at.strftime("%Y/%m/%d(#{dw[@request.created_at.wday]}) %H:%M") %></td>
            </tr>
		</table>
		<h3>備品一覧</h3>
		<table class="table table-bordered">
		    <thead>
		        <tr>
		            <th>備品名</th>
		            <th>個数</th>
		        </tr>
		    </thead>

		    <% @request_detail.each do |request| %>

		    <tbody>
		        <tr>
		            <td><%= request.item.name %></td>
		            <td><%= request.amount %></td>
		        </tr>
		    </tbody>
            <% end %>
		</table>

	        <%= link_to "申請一覧に戻る", worker_requests_path, class: "btn btn-success m-3" %>
	        <h4>申請の変更をしたい場合は、一度申請取り消しをしてください</h4>
	        <%= link_to "申請取り消し", worker_request_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger m-3" %>
	</div>