<div class="container-fluid py-4 mw-md">
    <%= flash[:error] %>
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">会員ログイン</div>
                    <div class="card-body">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">メールアドレス</label>
                                <div class="col-md-6">
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@example.com" %>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">パスワード</label>
                                <div class="col-md-6">
                                    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <% if devise_mapping.rememberable? %>
                                              <div class="field">
                                                <%= f.check_box :remember_me %>
                                                <%= f.label :remember_me %>
                                              </div>
                                            <% end %>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                    <%= f.submit "Log in", class: "sign-btn" %>
                                <!--<a href="#" class="btn btn-link">-->
                                <!--    Forgot Your Password?-->
                                <!--</a>-->
                            </div>
                        <% end %>
                            <div class="text-right m-2">
                              もしくは
                            <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-primary text-right" %>
                            </div>
                            <div class="text-right m-3">
                            会員登録をすると、コメントを投稿することができます。
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
